.list-container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  min-width: 40%;
  .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 100%;
  }
}